@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* font-family: "Poppins", sans-serif; */

.father-care {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  height: 1000px;
}

.box-father {
  width: 80%;
  display: flex;
  max-width: 1829px;
  min-width: 1353px;
}

.red-boxes img {
  width: 512px;
  border-radius: 7px;
  transition: 0.8s ease;
}

.logo-care img {
  width: 64px;
  padding: 11px;
  background: #ff969661;
  border-radius: 5px;
}

.box-care {
  display: flex;
  margin: 26px 0px;
}

.logo-care {
  display: flex;
  align-items: center;
  justify-content: center;
}

.letters-care {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-care {
  width: 86%;
}
.content-care h2 {
  font-size: clamp(2.7em, 1em + 5vw, 3em);
  font-weight: 400;
  line-height: 1;
}

.content-box {
  width: 75%;
  padding-left: 23px;
}

.casal {
  position: relative;
  flex: 60%;
  justify-content: center;
  display: flex;
}

.red-boxes {
  position: relative;
}

.red,
.red-2 {
  content: "";
  width: 487.124px;
  height: 113.381px;
  transform: rotate(-37.517deg);
  border-radius: 69px 6px;
  background: #ff3c3c;
  position: absolute;
}

.red {
  left: -130px;
  z-index: -1;
  bottom: 307px;
}

.red-2 {
  left: 147px;
  top: 246px;
  z-index: -1;
}

.content-box h3 {
  font-weight: 500;
}

.content-box p {
  font-weight: 400;
  color: #000000c7;
}
@media (min-width: 1348px) {
  .red {
    left: -130px !important;
    z-index: -1;
    bottom: 307px !important;
  }
  .red,
  .red-2 {
    width: 487.124px !important;
    height: 113.381px !important;
  }
  .red-boxes img {
    width: 512px !important;
    transition: 0.8s ease;
  }
  .red-2 {
    left: 147px !important;
    top: 246px !important;
  }
}

@media (max-width: 1348px) {
  .box-father {
    display: inline-block;
  }
  .content-care {
    width: 50%;
    margin-top: 211px;
  }
}

@media (min-width: 762px) {
  .red-boxes img {
    width: 388px important;
    transition: 0.8s ease;
  }
  .red,
  .red-2 {
    width: 387.124px;
    height: 95.381px;
  }
  .red {
    left: -128px;
    z-index: -2;
    bottom: 194px;
  }
  .red-2 {
    left: 106px;
    top: 190px;
    z-index: -1;
  }
}

@media (min-width: 360px) {
  .red-boxes img {
    width: 300px;
  }
  .red {
    left: -88px;
    z-index: -2;
    bottom: 148px;
  }
  .red,
  .red-2 {
    width: 303.124px;
    height: 76.381px;
  }
  .red-2 {
    left: 85px;
    top: 148px;
    z-index: -1;
  }
}

@media (max-width: 805px) {
  .content-care {
    width: 33%;
    margin-top: 211px;
  }
}
@media (max-width: 518px) {
  .content-care {
    width: 27%;
    margin-top: 211px;
  }
}

@media (max-width: 473px) {
  .content-care {
    padding: 0px 23px;
  }
}

@media (max-width: 441px) {
  .red {
    left: -59px;
    z-index: -2;
    bottom: 149px;
  }
  .red-2 {
    left: 105px;
    top: 150px;
    z-index: -1;
  }
  .red,
  .red-2 {
    width: 250.124px;
    height: 68.381px;
  }
}
