@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.letters-footer {
  width: 100%;
  background-color: #181818;
  position: relative;
  bottom: 170px;
  height: auto;
  font-family: "Poppins", sans-serif;
  display: inline-grid;
  align-items: center;
  justify-content: center;
  color: white;
  padding-top: 104px;
  gap: 16px;
}

.container-f {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #181818;
}

.lists {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 38px;
  margin-top: 44px;
  font-size: 19px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  gap: 9px;
  left: -23px;
  position: relative;
}

.icon img {
  width: 67px;
}

.sol {
  text-align: center;
  color: #ff3c3c;
}

.redes-sociais img {
  width: 40px;
  margin-top: 20px;
}
.redes-sociais {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 100px;
}

.content-footer {
  width: 100%;
  position: relative;
  bottom: 254px;
  z-index: -1;
}
.directs {
  position: relative;
  text-align: center;
  font-weight: 200;
  bottom: -147px;
}

@media (max-width: 810px) {
  .letters-footer {
    bottom: 217px;
  }
  .tst {
    position: relative;
    bottom: -61px;
  }
}

@media (max-width: 574px) {
  .icon {
    font-size: 1.3rem;
  }
  .icon {
    bottom: -17px;
    left: -13px;
  }
  .lists {
    gap: 32px;
    margin-top: 41px;
    font-size: 16px;
  }
  .redes-sociais img {
    width: 34px;
  }
  .sol {
    left: 11px;
    position: relative;
  }
  .directs {
    font-size: 14px;
  }
}
