@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

.logo-block img {
  width: 55px;
}
header {
  display: flex;
  justify-content: space-around;
  margin: 15px 0px;
}
.logo-block {
  display: flex;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-block h2 {
  font-weight: 400;
  color: #2a2a2a;
}
.contact-box {
  display: flex;
  align-items: center;
  background-color: #ff3c3c;
  color: white;
  padding: 5px 10px;
  border-radius: 6px;
  margin-left: 80px;
}
.contact-box img {
  width: 18px;
  margin-right: 6px;
}
.normal-itens {
  display: flex;
}

.normal-itens li {
  list-style: none;
  padding: 0px 10px;
  transition: 0.3s ease;
}
.normal-itens li::after {
  content: " ";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #ff3c3c;
  transition: 0.2s ease-in-out;
}
.normal-itens li:hover::after {
  width: 100%;
}

.normal-itens li:hover {
  cursor: pointer;
}

.itens-block {
  display: flex;
  font-size: 1.4rem;
  align-items: center;
}
