@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #343434;
  color: white;
  font-family: "Poppins", sans-serif;
  width: 100%;
}

main {
  background-image: url(../header/banner-pc-render.jpg);
  background-size: cover;
  background-position: center;
  background-clip: content-box;
  height: 721px;
}
.content-main {
  margin: 30px auto;
  align-items: center;
  display: flex;
  width: 80%;
  justify-content: center;
}

.letters h1 {
  line-height: 1;
  font-size: clamp(1.7em, 1em + 3vw, 4.5em);
}
.letters p {
}
.p-banner {
  width: 69%;
  font-weight: 300;
  margin-top: 13px;
  font-size: clamp(0.85em, 1em + 0.5vw, 1.25vw);
}

.p-banner p {
  max-width: 875px;
}
.buttons-banner {
  display: flex;
  font-weight: 500;
  margin-top: 50px;
}
.btn-ctt {
  margin-right: 5px;
  background-color: #ff3c3c;
  padding: 10px 15px;
  border-radius: 5px;
}

.btn-pjt {
  margin: 0px 5px;
  margin: 0px 5px;
  margin-right: 5px;
  background-color: white;
  color: black;
  padding: 10px 15px;
  border-radius: 5px;
}
.box {
  width: 176px;
  text-align: center;
  margin-right: 21px;
}

.content-right {
  position: relative;
  top: -1px;
  width: 542px;
  left: 57px;
}

.mobile-photo {
  position: relative;
}

.mobile-photo img {
  max-width: 100%;
  height: auto;
}
.circle-popUpTop {
  position: absolute;
  background-color: #ff3c3c;
  left: -21%;
  top: 14%;
  max-width: 200px;
  text-align: center;
  border-radius: 22px;
  height: 99px;
  display: flex;
  font-size: 13px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.circle-popUpTop {
  position: absolute;
  background-color: #ff3c3c;
  left: -21%;
  top: 14%;
  max-width: 200px;
  text-align: center;
  border-radius: 22px;
  height: 99px;
  display: flex;
  font-size: 13px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 18vw;
}

.circle-popUp {
  position: absolute;
  background-color: #ff3c3c;
  left: 37%;
  top: 71%;
  max-width: 200px;
  text-align: center;
  border-radius: 22px;
  height: 99px;
  display: flex;
  font-size: 13px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.mobile-menu div {
  width: 32px;
  height: 4px;
  background-color: #ff3c3c;
  margin: 7px;
  z-index: 20;
  transition: 0.3s;
  border-radius: 26px;
}

.mobile-menu {
  cursor: pointer;
  position: absolute;
  display: none;
  top: 23px;
  z-index: 20;
}

@media (max-width: 858px) {
  .btn-ctt {
    margin: 0 auto;
    padding: 14px 15px;
  }
  .content-right {
    position: relative;
    top: -1px;
    width: 80%;
    left: 57px;
    margin: 0 auto;
  }
  main {
    height: 632px;
  }
  .box {
    width: 33vw;
    text-align: center;
    margin: 20px auto;
    min-width: 230px;
  }
  .btn-pjt {
    margin: 0;
    padding: 14px 15px;
  }
  .buttons-banner {
    display: grid;
    font-weight: 500;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
  }
  .letters {
    margin: 0 auto;
    margin-top: 200px;
    text-align: left;
    padding: 0px 10px;
  }
  .p-banner {
    width: 98%;
    max-width: 400px;
    font-weight: 300;
    margin-top: 23px;
    font-size: clamp(1.4em, 1em + 0.5vw, 1.25vw);
  }
  .p-banner p {
    width: 75vw;
  }
  .content-main {
    display: block;
    margin-top: 440px;
  }
  .mobile-menu {
    position: absolute;
    right: 80px;
    display: block;
    top: 19px;
  }
  .content-main {
    display: block;
    width: 90%;
  }
  .letters h1 {
    line-height: 1;
    font-size: clamp(2.7em, 3em + 2vw, 4.5em);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-7px, -8px);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@media (max-width: 1014px) {
  .mobile-photo p {
    font-size: 11px;
  }
}

@media (max-width: 504px) {
  .letters h1 {
    line-height: 1;
    font-size: clamp(2.7em, 1.5em + 2vw, 4.5em);
  }
  .p-banner {
    width: 98%;
    max-width: 400px;
    font-weight: 300;
    margin-top: 23px;
    font-size: clamp(1.2em, 1em + 0.5vw, 1.25vw);
  }
}
@media (max-width: 404px) {
  .letters {
    padding-bottom: 69px;
  }
}

