@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
.box-projects {
  height: auto;
  padding: 200px 10px;
}
.projects {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  margin: 0 auto;
  gap: 100px 16px;
}
.box-pjt {
  width: 467px;
  height: 600px;
  overflow: hidden;
  /* overflow-y: scroll; */
  border: 1px solid #c7c7c79c;
}
.box-pjt img {
}
.box-projects h1 {
  font-size: clamp(2.7em, 1em + 5vw, 4em);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 50px;
}

@media (min-width: 345px) {
  .projects {
    grid-template-columns: 1fr;
  }
  .box-pjt img {
    width: 100%;
  }
  .box-pjt {
    width: 82vw;
    max-width: 429px;
    height: 403px;
    margin: 0 auto;
}
}
@media (min-width: 375px) {
  .projects {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 732px) {
    .projects {
        grid-template-columns: 1fr 1fr;
        max-width: 900px;
      }
}


@media (min-width: 728px) {
  .box-pjt {
    width: 371px;
    height: 600px;
  }
  .box-pjt img {
    width: 100%;
  }
}

@media (min-width: 728px) {
    .box-pjt {
        width: 345px;
      }
}


@media (min-width: 1429px) {
  .projects {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .box-pjt {
    width: 430px;
    height: 600px;
  }
  .box-pjt img {
    width: 100%;
  }
}
