@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* font-family: "Poppins", sans-serif; */
.father-questions {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  padding: 200px 0px;
}
.questions-container {
  width: 80%;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  gap: 153px;
}

.questions-container img {
  width: 30px;
  position: relative;
  left: 15px;
  bottom: 4px;
}
.circle2 {
  position: relative;
  bottom: 1157px;
  left: -12px;
}

.qst-red {
  color: #ff3c3c;
  font-weight: 500;
  padding-bottom: 10px;
  width: 95%;
  min-width: 278px;
}
.aws {
  padding-bottom: 24px;
  opacity: 0;
}
.box-questions {
  display: flex;
  align-items: start;
  background: white;
  width: 70%;
  padding: 40px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
  border: 0px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  margin: 28px auto;
  min-width: 532px;
  transition: 0.8s ease;
  padding-bottom: 8px;
  padding-top: 33px;
}
.left-quest {
  flex: 49%;
}

.right-quest {
  flex: 49%;
}

.box-questions > div > .qst-red + p {
  font-weight: 300;
  color: #414141;
}
.left-quest .box-questions {
  margin: 28px 0px 28px auto;
}
.right-quest .box-questions {
  margin: 28px auto 28px 0px;
}

.line-red {
  position: absolute;
  left: 50vw;
}

@media (max-width: 1300px) {
  .box-questions {
    min-width: initial;
    transition: 0.8s ease;
    width: 395px;
  }
}

@media (max-width: 1050px) {
  .box-questions {
    width: 347px;
  }
  .box-questions > div > .qst-red + p {
    font-weight: 300;
    color: #414141;
    font-size: 0.9rem;
  }
  .questions-container {
    gap: 72px;
  }
}

@media (max-width: 835px) {
  .questions-container {
    display: block;
    width: initial;
  }
  .line-red {
    display: none;
  }
  .box-questions {
    width: 60%;
  }
  .left-quest .box-questions {
    margin: 20px auto;
  }
  .right-quest .box-questions {
    margin: 20px auto;
  }
}
@media (max-width: 671px) {
  .box-questions {
    min-width: 416px;
  }
}

@media (max-width: 491px) {
  .box-questions {
    min-width: 359px;
  }
}
@media (max-width: 491px) {
  .box-questions {
    min-width: 323px;
  }
}

.seta-para-baixo {
  width: 2.4px;
  height: 8px;
  background-color: #939191;
  margin: -8px;
  border-radius: 5px;
  z-index: 2;
  position: relative;
}
.seta-para-baixo2 {
  width: 2.4px;
  height: 8px;
  background-color: #939191;
  margin: -4px;
  border-radius: 5px;
  z-index: 2;
  position: relative;
}

.seta-para-baixo {
  transform: rotate(-45deg);
}

.seta-para-baixo2 {
  transform: rotate(45deg);
}

.circle-div {
  width: 30px;
  position: relative;
  left: 29px;
  bottom: -13px;
}
.circle-red {
  padding: 10px;
  border-radius: 20px;
  position: relative;
  left: -16.5px;
  bottom: 13px;
  border: 2px solid #939191;
  z-index: 7;

  cursor: pointer;
}

.active {
  opacity: 1;
}

.bx-qs {
}


