@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.svg-1 {
  margin-top: 260px;
  position: relative;
  bottom: -7px;
  width: 100vw;
  height: 26vw;
}

.svg-2 {
  width: 100vw;
  height: 26vw;
  position: relative;
  bottom: 53px;
}
body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.services-container {
  background-color: #252525;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Nunito Sans", sans-serif;
  padding-bottom: 22px;
}

.services-container h1 {
  font-size: 25px;
  font-size: 76px;
  font-weight: 700;
  color: white;
}

.father-services {
  width: 80%;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.box-services {
  background-color: #ededed;
  margin: 25px 10px;
  padding: 30px 20px;
  height: 322px;
  border-radius: 5px;
  max-width: 354px;
  min-width: 316px;
  transition: 0.8s ease;
}
.itens-services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  margin: 0 auto;
  text-align: start;
  margin-top: 82px;
}

.box-services img {
  width: 55px;
  display: flex;
}

.box-services h2 {
  position: relative;
  bottom: -21px;
  font-size: 28px;
  font-weight: 600;
  transition: 0.8s ease;
}

.box-services p {
  position: relative;
  bottom: -84px;
  font-size: 18px;
  font-weight: 500;
  width: 90%;
  bottom: -57px;
  transition: 0.8s ease;
}

.red-line {
  display: flex;
  position: relative;
  bottom: -30px;
}
.red-line::before {
  content: "";
  height: 2.4px;
  width: 19%;
  background-color: #ff3c3c;
  display: block;
}
@media (max-width: 1129px) {
  .box-services {
    background-color: #ededed;
    margin: 25px 10px;
    padding: 30px 20px;
    height: 317px;
    border-radius: 5px;
    max-width: 339px;
    min-width: 274px;
  }
  .box-services p {
    font-size: 15px;
  }
  .box-services h2 {
    font-size: 25px;
  }
}

@media (min-width: 1129px) {
  .itens-services {
    grid-template-columns: 1fr 1fr 1fr !important;
  }
  .box-services {
    margin: 25px 10px !important;
    padding: 30px 20px !important;
    height: 322px !important;
    max-width: 354px !important;
    min-width: 316px !important;
    transition: 0.8s ease;
  }
}

@media (max-width: 957px) {
  .itens-services {
    grid-template-columns: 1fr 1fr;
  }
  .box-services {
    max-width: 291px;
    min-width: 274px;
  }
}

@media (min-width: 375px) {
  .services-container h1 {
    font-size: clamp(2.7em, 1em + 5vw, 4em);
  }
  .itens-services {
    grid-template-columns: 1fr;
  }
  .box-services {
    padding: 16px 20px;
    max-width: 274px;
    min-width: 274px;
    height: 288px;
    margin: 25px auto;
  }
}
@media (min-width: 732px) {
  .itens-services {
    grid-template-columns: 1fr 1fr;
  }
  .box-services {
    margin: 25px 10px;
  }
}
@media (max-width: 375px) {
  .services-container h1 {
    font-size: clamp(3.7em, 1em + 5vw, 4em);
  }
  .itens-services {
    grid-template-columns: 1fr;
  }
  .box-services {
    padding: 16px 20px;
    max-width: 274px;
    min-width: 274px;
    height: 288px;
    margin: 25px auto;
  }
}
